body,html {
    font-family: "Roboto";
    background: #87D7AE;
}

.app-main {
    padding: 0 20px 0 20px;
    margin 0;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    .app-main {
        padding: 0 2px 0 2px;
    }
}

.page-width {
    margin: auto auto;
}

#app-center {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    min-height: 310px;
    height: 310px;
    border-bottom: 10px solid #FFFFFF;
    background: #363636 url(../images/header-bg.png) no-repeat center bottom;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    #app-center {
        height: 136px;
        min-height: 136px;
        border-bottom: 2px solid #FFFFFF;
    }
}

/* :medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    #app-center {
        height: 206px;
        min-height: 206px;
        border-bottom: 6px solid #FFFFFF;
    }
}

#app-bottom {
    margin-top: 18px;
    margin-bottom: 30px;
}

/*************** loading *****************/

#loading-div {
    color: #FFFFFF;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}

.loading-h2 {
    position: absolute;
    left: 41%;
    bottom: 50%;
    margin: 0; /* or bootstrap will add it */
}

#loading-div img {
    position: absolute;
    bottom: 0;
    border: 0;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    #loading-div {
        position: relative;
        width: 48px;
        height: 100%;
    }

    .loading-h2 {
        display: none;
        visibility: gone;
    }

    #loading-div img {
        width: 48px;
        height: 48px;
        bottom: 0;
        border: 0;
    }

}

/* :medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    .loading-h2 {
        position: absolute;
        left: 27%;
        bottom: 60%;
        margin: 0; /* or bootstrap will add it */
    }
}

/*
  https://css-tricks.com/snippets/css/keyframe-animation-syntax/
*/

@-moz-keyframes spin {
    25%  { -moz-transform: translate(200px,0px) rotate(360deg); }
    50%  { -moz-transform: translate(0px,0px) rotate(0deg); }
    75%  { -moz-transform: translate(-200px,0px) rotate(-360deg); }
    100% { -moz-transform: translate(0px,0px) rotate(0deg); }
}

@-webkit-keyframes spin {
    25%  { -webkit-transform: translate(200px,0px) rotate(360deg); }
    50%  { -webkit-transform: translate(0px,0px) rotate(0deg); }
    75%  { -webkit-transform: translate(-200px,0px) rotate(-360deg); }
    100% { -webkit-transform: translate(0px,0px) rotate(0deg); }
}

@keyframes spin {
    25%  { transform: translate(200px,0px) rotate(360deg); }
    50%  { transform: translate(0px,0px) rotate(0deg); }
    75%  { transform: translate(-200px,0px) rotate(-360deg); }
    100% { transform: translate(0px,0px) rotate(0deg); }
}

#loading-img {
    -webkit-animation: spin 16s linear infinite;
    -moz-animation: spin 16s linear infinite;
    animation: spin 16s linear infinite;
}

/*************** header *****************/

.page-header {
    margin: 0;
    padding: 20px 0px 10px 0px;
    background: #363636;
    text-align: center;
    border-bottom: 0; /* or bootstrap adds it */
}

.page-header a {
    display: block;
    margin-top: 20px;
}

.page-header h1, .page-header h1 small {
    color: #FFFFFF;
    font-weight: 300;
}

.logo {
    height: 40px;
    background: url("../images/logo.png");
    margin: auto auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    .page-header {
        padding: 4px 0px 4px 0px;
    }

    .page-header a {
        display: block;
        margin-top: 2px;
    }

    .page-header h1 {
        font-size: 1.25em;
        margin: 0;
    }

    .page-header h1 small {
        display: none;
        visibility: gone;
    }

    .logo {
        height: 40px;
        background: url("../images/replumb_logo_img.png");
        margin: auto auto;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/***************console*******************/

/* :wide */
.cljs-console {
    /*  Note that this element must be explicity sized and positioned absolute or relative. */
    position: relative;
    width: 660px;
    height: 300px;
    min-width: 300px;
    min-height: 186px;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    .cljs-console {
        /*  Note that this element must be explicity sized and positioned absolute or relative. */
        position: relative;
        width: 220px;
        height: 100px;
        min-width: 120px;
        min-height: 80px;
    }
}

/* :medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    .cljs-console {
        /*  Note that this element must be explicity sized and positioned absolute or relative. */
        position: relative;
        width: 420px;
        height: 200px;
        min-width: 220px;
        min-height: 75px;
    }
    border: 1px solid #DDD;
    border-radius: 5px;
}

/* This overrides hljs's style, therefore it must go after */
.hljs {
    display: inline;
    overflow-x: auto;
    padding: 0;
    border: 0;
    background: #FFFFFF;
}

.cljs-console pre {
    background: #FFFFFF;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

.cljs-btn > i {
    color: #FFFFFF;
}

.rc-icon-disabled {
    opacity: 0.4;
}

/*************** footer *****************/

#app-footer-container {
    color: #FFFFFF;
    margin-top: 10px;
    background: #475b51;
}

.page-footer {
    padding: 15px;
}



.app-footer-btn {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    margin: 2px;
    padding: 4px 8px;
}

.app-footer-btn:hover {
    color: #65B58C;   /* Needed for plain text like Blog */
    background-color: #FFFFFF;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.app-footer-btn:hover > div > i {
    color: #65B58C;
    background-color: #FFFFFF;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*********************/
/***   API Panel   ***/
/*********************/

.rc-line { display: none }

.api-panel-section {
    background-color: #65B58C;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.api-panel-popup-section-title {
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
}

/* :wide */
.api-panel-section-title {
    font-family: "Roboto";
    font-size: 1.5em;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    /* Center the section title only when we display 1 column */
    /* AR - changed to follow the other media queries */
    .api-panel-section-title {
        text-align: center;
        display:block;
    }
}

/* :medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    /* Center the section title only when we display 1 column */
    /* AR - changed to follow the other media queries */
    .api-panel-section-title {
        text-align: center;
        display:block;
    }
}

.api-panel-topic {
    text-transform: uppercase;
    font-family: "Roboto";
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-topic-box > div {
    -webkit-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-symbol-label-box > div {
    -webkit-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

.api-panel-symbol-button {
    margin: 2px 2px;
    min-width: 50px;
    padding:5px;
    cursor:pointer;
    font-family: monospace;
    font-size:0.8125em;
}

.api-panel-symbol-label {
    font-weigth: bold;
    font-family: monospace;
    color: #FFFFFF;
}

.api-panel-signature {
    font-family: monospace;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-button-send-repl-box > div {
    -webkit-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    margin: 0;
}

.api-panel-number-icon {
    border: 0;
    margin: 0;
    padding: 0;
}

.api-panel-send-repl-img {
    margin: 4px;
    -moz-margin-start: 6px;
    -webkit-margin-start: 6px;
    width: 28px;
    height: 28px;
}

.api-panel-button-send-repl {
    border: 0;
}

.api-panel-button-send-repl:hover {
    fill: #ACE63C;
}

.popover-content code {
    color: inherit;
    background-color: inherit;
    border: none;
}

/* Some examples contains tables in their markdown.
 * These tables have a class of "code-tbl-9bef6"
 * see: http://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes
 */

table[class^="code-tbl-"], table[class*=" code-tbl-"] {
    width: 100%;
}

table[class^="code-tbl-"] td, table[class*=" code-tbl-"] td {
    padding-right: 5px;
    vertical-align: top;
}
