body,html {
    font-family: "Roboto";
    background: #87D7AE;
}

.app-main {
    padding: 0 20px 0;
    position: relative;
}

.page-width {
    margin: auto auto;
}

#app-center {
    height: 150px;
    width: 720px;
    left: 50%;
    margin-left: -360px;
    top: -160px;
}

#app-bottom {
    margin-top: 18px;
    margin-bottom: 30px;
}

/*************** loading *****************/

#loading-div {
    text-align: center;
}

#loading-h2 {
    color: #DDD;
}

/*
  https://css-tricks.com/snippets/css/keyframe-animation-syntax/
*/

@-moz-keyframes spin {
    25%  { -moz-transform: translate(200px,0px) rotate(360deg); }
    50%  { -moz-transform: translate(0px,0px) rotate(0deg); }
    75%  { -moz-transform: translate(-200px,0px) rotate(-360deg); }
    100% { -moz-transform: translate(0px,0px) rotate(0deg); }
}

@-webkit-keyframes spin {
    25%  { -webkit-transform: translate(200px,0px) rotate(360deg); }
    50%  { -webkit-transform: translate(0px,0px) rotate(0deg); }
    75%  { -webkit-transform: translate(-200px,0px) rotate(-360deg); }
    100% { -webkit-transform: translate(0px,0px) rotate(0deg); }
}

@keyframes spin {
    25%  { transform: translate(200px,0px) rotate(360deg); }
    50%  { transform: translate(0px,0px) rotate(0deg); }
    75%  { transform: translate(-200px,0px) rotate(-360deg); }
    100% { transform: translate(0px,0px) rotate(0deg); }
}

#loading-img {
    -webkit-animation: spin 16s linear infinite;
    -moz-animation: spin 16s linear infinite;
    animation: spin 16s linear infinite;
}

/*************** header *****************/

.page-header {
    margin: 0px;
    padding: 20px 0px 200px 0px;
    border-bottom: 10px solid #FFFFFF;
    background: #363636 url(../../img/header-bg.png) no-repeat center bottom;
    text-align: center;
}

.page-header a {
    display: block;
    margin-top: 20px;
}

.page-header h1, .page-header h1 small {
    color: #FFFFFF;
    font-weight: 300;
}

/***************console*******************/

.cljs-console {
    /*  Note that this element must be explicity sized and positioned absolute or relative. */
    position: relative;
    width: 660px;
    height: 300px;
    min-width: 300px;
    min-height: 185px;
    border: 1px solid #DDD;
    border-radius: 5px;
}

/* This overrides hljs's style, therefore it must go after */
.hljs {
    display: inline;
    overflow-x: auto;
    padding: 0;
    border: 0;
    background: #FFFFFF;
}

.cljs-console pre {
    background: #FFFFFF;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

.cljs-btn > i {
    color: #FFFFFF;
}

.rc-icon-disabled {
    opacity: 0.4;
}

/*************** footer *****************/

#app-footer-container {
    color: #FFFFFF;
    margin-top: 10px;
    background: #475b51;
}

.page-footer {
    padding: 15px;
}



.app-footer-btn {
    color: #FFFFFF;
    background-color: transparent;
    border-color: #FFFFFF;
    margin: 2px;
    padding: 4px 8px;
}

.app-footer-btn:hover {
    color: #65B58C;   /* Needed for plain text like Blog */
    background-color: #FFFFFF;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

.app-footer-btn:hover > div > i {
    color: #65B58C;
    background-color: #FFFFFF;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    transition: all 500ms ease;
}

/*********************/
/***   API Panel   ***/
/*********************/

.rc-line { display: none }

.api-panel-section {
    background-color: #65B58C;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.api-panel-popup-section-title {
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
}

/* :wide */
.api-panel-section-title {
    text-align: center;
    display: block;
    font-family: "Roboto";
    font-size: 1.5em;
}

/* :narrow */
@media only screen and (max-width: 480px) {
    /* Center the section title only when we display 1 column */
    /* AR - changed to follow the other media queries */
    .api-panel-section-title {
        text-align: center;
        display:block;
    }
}

/* :medium */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    /* Center the section title only when we display 1 column */
    /* AR - changed to follow the other media queries */
    .api-panel-section-title {
        text-align: center;
        display:block;
    }
}

.api-panel-topic {
    text-transform: uppercase;
    font-family: "Roboto";
    text-align: center;
    display:block;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-topic-box > div {
    -webkit-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-symbol-label-box > div {
    -webkit-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

.api-panel-symbol-button {
    margin: 2px 5px;
    border: 2px solid #439A6A;
    border-radius: 8px;
    min-width: 100px;
    padding:5px;
    cursor:pointer;
    font-family: monospace;
    font-size:0.8125em;
}

.api-panel-symbol-label {
    font-weigth: bold;
    font-family: monospace;
    color: #FFFFFF;
}

.api-panel-signature {
    font-family: monospace;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-button-send-repl-box > div {
    -webkit-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    margin: 0;
}

.api-panel-number-icon {
    border: 0;
    margin: 0;
    padding: 0;
}

.api-panel-send-repl-img {
    margin: 4px;
    -moz-margin-start: 6px;
    -webkit-margin-start: 6px;
    width: 28px;
    height: 28px;
}

.api-panel-button-send-repl {
    border: 0;
}

.api-panel-button-send-repl:hover {
    fill: #ACE63C;
}

.popover-content code {
    color: inherit;
    background-color: inherit;
    border: none;
}

/* Some examples contains tables in their markdown.
 * These tables have a class of "code-tbl-9bef6"
 * see: http://stackoverflow.com/questions/5110249/wildcard-in-css-for-classes
 */

table[class^="code-tbl-"], table[class*=" code-tbl-"] {
    width: 100%;
}

table[class^="code-tbl-"] td, table[class*=" code-tbl-"] td {
    padding-right: 5px;
    vertical-align: top;
}
