body,html {
    font-family: "Roboto";
    background: #65b58c;
    color: #ffffff;
}

.app-main {
    padding: 0 20px 0;
    position: relative;
}


/*************** header *****************/

.page-header {
    margin: 0px;
    padding: 20px 0px 200px 0px;
    border-bottom: 10px solid #ffffff;
    background: #363636 url(../../img/header-bg.png) no-repeat center bottom;
    text-align: center;
}

.page-header a {
    display: block;
    margin-bottom: 30px;
}

.page-header h1, .page-header h1 small {
    color: #ffffff;
    font-weight: 300;
}

/***************console*******************/


.cljs-console {
    /*  Note that this element must be explicity sized and positioned absolute or relative. */
    position: relative;
    width: 560px;
    height: 250px;
    min-width: 300px;
    min-height: 185px;
}

/* This overrides hljs's style, therefore it must go after */
.hljs {
    display: inline;
    overflow-x: auto;
    padding: 0;
    border: 0;
    background: #ffffff;
}

.cljs-console pre {
    background: #ffffff;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}

.rc-md-icon-button > i {
    color: #ffffff;
}


#app-center {
    height: 100px;
    width: 620px;
    left: 50%;
    margin-left: -320px;
    top: -160px;
}

/***************************************/
#app-bottom {
    margin-top: 18px;
}

.app-progress-bar {
    padding: 4px;
    width: 40%;
    margin: auto;
}

.page-width {
    width: 1080px;
    margin: auto auto;
}


/*********************/
/***   API Panel   ***/
/*********************/

.rc-line { display: none }

.api-panel-column {
    background-color: #FFF;
}

.api-panel-section-title {
    text-align: center;
    font-family: "Roboto";
    font-size: 1.5em;
}

/* TO FIX */
/* .api-panel-signature:nth-child(odd) { */
/*     background-color: rgb(235,235,235); */
/* } */

/* .api-panel-signature:nth-child(even) { */
/*     background-color: rgb(250,250,250); */
/* } */

.api-panel-popup-section-title {
    font-family: "Roboto";
    text-align: center;
    text-transform: uppercase;
}

/* TO FIX */
/* .api-panel-topics-table tr:nth-child(odd) { */
/*     background-color: rgb(245,245,245); */
/* } */

/* .api-panel-topics-table tr:nth-child(even) { */
/*     background-color: rgb(250,250,250); */
/* } */

.api-panel-topic {
    text-transform: uppercase;
    font-family: "Roboto";
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-topic-box > div {
    -webkit-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-symbol-label-box > div {
    -webkit-flex: 0 1 auto !important;
    flex: 0 1 auto !important;
}

.api-panel-symbol-button {
    font-family: monospace,monospace;
    font-size:0.8125em;
    margin-top: 2px;
}

.api-panel-signature {
    font-family: monospace;
}

/* problem here, see https://github.com/Day8/re-com/issues/76 */
.api-panel-button-send-repl-box > div {
    -webkit-flex: 1 0 auto !important;
    flex: 1 0 auto !important;
    margin: 0;
}

.api-panel-number-icon {
    border: 0;
    margin: 0;
    padding: 0;
}

.api-panel-send-repl-img {
    margin: 4px;
    -moz-margin-start: 6px;
    -webkit-margin-start: 6px;
    width: 28px;
    height: 28px;
}

.api-panel-button-send-repl {
    border: 0;
}

.api-panel-button-send-repl:hover {
    fill: #ace63c;
}

.popover-content code {
    color: inherit;
    background-color: inherit;
    border: none;
}
