.re-console-container {
    background-color: #FFF;
    overflow-y: scroll;
    padding: 10px;
    margin: 0 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.re-console .CodeMirror {
        height: auto;
        font-size: 13px;
        font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
        margin-bottom: 20px;
}

.re-console .CodeMirror-code {
    background-color: #FFF;
}

.re-console .CodeMirror-lines, .re-console .CodeMirror pre {
    padding: 0;
}

.re-console-item, .re-console-item pre, .re-console-item-error pre {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    font-size: 13px;
    opacity: 0.7;
    background: transparent;
    border: none;
    margin: 0;
    padding: 0px;
    overflow: visible;
}

.re-console-item-error {
    color: #e60000;
}

.re-console-mode-line {
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
    /* font-size: 10px; AR - handled in app.css */
    background-color: #414141;
    text-align:center;
    color: white;
    padding: 5px;
    margin: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}

.re-console-container::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
